
import("methods")
import("grid")
import("graph")

importClassesFrom("hypergraph", "Hypergraph", "Hyperedge", "DirectedHyperedge")
importClassesFrom("Rgraphviz", "Ragraph")

importFrom("stats4", "plot")
importFrom("Rgraphviz",
           "agopen", "graphDataDefaults<-", "graphData<-", "graphLayout")

importMethodsFrom(hypergraph, hyperedges, hyperedgeLabels)
importMethodsFrom(Rgraphviz, bezierPoints, botLeft, boundBox,
                  getNodeXY, getX, getY, graphData, "graphData<-",
                  "graphDataDefaults<-", upRight)

exportClasses("graphBPH", "RagraphBPH")

exportMethods("graphBPH",
              "plot",
              "graphLayout",
              "edgeDataDefaults<-", "edgeData<-",
              "nodeDataDefaults<-", "nodeData<-",
              "graphDataDefaults<-", "graphData<-")

S3method("grobX", "node")
S3method("grobY", "node")
